.send-Icon {
  border-radius: 30px;
  border: none;
  color: #ffffff;
  transition: 0.5s;
  background-color: rgb(48, 71, 236) !important;
  font-family: "Titillium Web";
  font-size: 14px;
  font-weight: 400;
  padding: 9px 29px;
  outline: none !important;
}

button.send-Icon:hover {
  background-color: rgb(48 71 236 / 87%) !important;
}

.clock-Icon {
  color: rgb(48, 71, 236);
}
button.send-Icon:active,
button.send-Icon:focus,
button.send-Icon:active:focus {
  box-shadow: none;
}

.image1 {
  border-radius: 80px;
  position: absolute;
  height: 60px;
  border: 1px solid white;

  /* position: relative;
    top: 0;
    left: 0;
    border: 1px red solid; */
}

.image-holder {
  position: relative;
  width: 130px;
  height: 60px;
  display: block;
  margin-bottom: 20px;
}

.message-comp-flex {
  display: flex;
  justify-content: start;
}
.image2 {
  border-radius: 80px;
  position: absolute;
  height: 60px;
  /* position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid; */
  top: 1px;
  left: 33px;
  border: 2px solid white;
}

.image3 {
  border-radius: 80px;
  position: absolute;
  height: 60px;
  top: 1px;
  left: 55px;
  border: 2px solid white;
}

.text-holder {
  padding-top: 10px;
  font-family: "Titillium Web";
}

.text-holder p.text-secondary {
  font-size: 14px;
  opacity: 0.8;
}

p.text-hold2 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
}
